@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
        url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Regular.woff2') format('woff2'),
        url('ProximaNova-Regular.woff') format('woff'),
        url('ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville Display PT';
    src: url('Baskerville-Display-PT.eot');
    src: local('Baskerville Display PT'), local('Baskerville Display PT'),
        url('Baskerville-Display-PT.eot?#iefix') format('embedded-opentype'),
        url('Baskerville-Display-PT.woff2') format('woff2'),
        url('Baskerville-Display-PT.woff') format('woff'),
        url('Baskerville-Display-PT.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

