/* VARIOUS BLOCKS: START */
.section {
  margin: 0 auto;
  position: relative;
  width: 100%;

  &__content {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    @include adaptive(padding-left, 20, 20);
    @include adaptive(padding-right, 20, 20);
  }
}

.main_text {
  color: #000;
  text-align: center;
  font-family: 'Baskerville Display PT';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.2px;
  margin: 0 auto;
}

.title_text {
  color: #000;
  text-align: center;
  font-family: 'Proxima Nova';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  letter-spacing: 0.8px;
  margin: 0 auto;
}

.content_box {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 50px;

  &.odd {
    @include adaptive(margin-left, 0, 55);

    .content_box__img {
      order: 2;

      @media (max-width: 800px) {
        margin-top: 50px;
      }
    }
    .content_box__text {
      order: 1;
      margin-left: 0;
      @include adaptive(padding-right, 20, 55);

      @media (max-width: 800px) {
        padding-left: 20px;
      }

      .title_text, .main_text {
        margin-left: auto;
      }
    }
  }

  .title_text, .main_text {
    text-align: left;
    margin: 0;
    max-width: 600px;
  }

  .main_text {
    margin-bottom: 13px;
  }

  &__img {
    width: 100%;
    @include adaptive(max-width, 480, 710);

    @media (max-width: 800px) {
      margin-bottom: 50px;
    }
  }

  &__text {
    width: 100%;
    @include adaptive(padding-left, 20, 55);
  }

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: start;

    &__text {
      padding-right: 20px;
    }
  }
}
